[submodule "rapidjson"]
	path = ext/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "rtmidi"]
	path = ext/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "wxWidgets"]
	path = ext/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "ext/curl"]
	path = ext/curl
	url = https://github.com/curl/curl
